<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
    		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">

	 <bean id="jedisPoolConfigPermission" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxIdle" value="100"/><!-- 最大闲置 -->
        <property name="minIdle" value="10"/><!-- 最小闲置 -->
        <property name="testOnBorrow" value="true"/><!-- 可以获取 -->
<!--        <property name="testOnReturn" value="true"/>-->
		 <property name="maxTotal" value="${redis.cluster.maxTotal}"/>
		 <property name="maxWaitMillis" value="${redis.cluster.maxWaitMills}"/>
    </bean>
	<!-- redis 配置,也可以把配置挪到properties配置文件中,再读取 -->
	<bean id="jedisPoolPermission" class="redis.clients.jedis.JedisPool">
		<constructor-arg index="0" ref="jedisPoolConfigPermission" />
		<!-- 端口，默认6379 -->
	    <constructor-arg index="2" value="${spring.redis.port}"  name="port" type="int"/>
	    <constructor-arg index="3" value="5000"  name="timeout" type="int"/>
	    <constructor-arg index="1" value="${spring.redis.host}" name="host" type="java.lang.String"/>
	    <!-- 如果你需要配置密码，请打开这里。
	        <constructor-arg index="4" value="${spring.redis.password}" name="password" type="java.lang.String"/>
	    -->
	</bean>
	<!-- 
		这种 arguments 构造的方式，之前配置有缺点。
		这里之前的配置有问题，因为参数类型不一致，有时候jar和环境的问题，导致参数根据index对应，会处理问题，
		理论上加另一个 name，就可以解决，现在把name 和type都加上，更保险。
	 -->

	<!--<bean id="jedisConnectionFactoryPermission" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">-->
		<!--<property name="usePool" value="true"></property>-->
		<!--<property name="hostName" value="${spring.redis.host}" />-->
		<!--<property name="port" value="${spring.redis.port}" />-->
		<!--<property name="password" value="${spring.redis.password}" />-->
		<!--&lt;!&ndash; <property name="timeout" value="${redis.timeout}" /> &ndash;&gt;-->
		<!--<property name="database" value="${spring.redis.default_db}" />-->
		<!--<constructor-arg index="0" ref="jedisPoolConfigPermission" />-->
	<!--</bean>-->

	<!--<bean id="redisTemplatePermission" class="org.springframework.data.redis.core.StringRedisTemplate">-->
		<!--<property name="connectionFactory" ref="jedisConnectionFactoryPermission" />-->
	<!--</bean>-->

	<!-- 让Spring Session不再执行config命令 -->

	<bean id="redisFactoryPermission" class="com.digital.dance.framework.codis.client.RedisFactory">
		<property name="config" ref="jedisPoolConfigPermission"/>
		<property name="proxyHost" value="${redis.host}"/>
		<property name="port" value="${redis.port}"/>
		<property name="subSysName" value="${codis.subSysName}"/>
		<property name="authpassword" value="${codis.authpassword}"/>
		<property name="timeout" value="${redis.cache.timeout}"/>
		<property name="nodes" value="${redis.nodes}"/>
	</bean>
	<bean id="codisPermission" class="com.digital.dance.framework.codis.impl.CodisImpl">
		<property name="salt" value="${codis.salt}"/>
		<property name="redisFactory" ref="redisFactoryPermission"/>
	</bean>

	<bean id="redisPermission" class="com.digital.dance.framework.codis.impl.CodisImpl">
		<property name="salt" value="${codis.salt}"/>
		<property name="redisFactory" ref="redisFactoryPermission"/>
	</bean>

	<bean id="jedisManagerPermission" class="com.digital.dance.client.core.shiro.cache.JedisManager">
		<property name="jedisPool" ref="jedisPoolPermission"/>
		<property name="expireTime" value="1200"/>
		<property name="jedisPoolConfig" ref="jedisPoolConfigPermission"/>
		<property name="nodes" value="${redis.nodes}"/>
		<property name="codis" ref="codisPermission"/>
	</bean>

</beans>